*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    min-height: 100%;
}
#root{
    width: 100%;
    min-height: 100%;
}
.layout{
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 65px 0 60px;
    position: relative;
    box-sizing: border-box;
}